.checkerboard{  display: grid; border: 2px solid black;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px); padding: 5px;
     width: 800px; height: 800px;
}


.cellblack {
    background-color: black; 
    width: 100px; height: 100px;
}

.cellwhite {
    background-color: white; 
    width: 100px; height: 100px;
}